@*@main("About Us"){
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Seja Bem vindo(a)!</h1>
              <p class="lead">Com a implementação da educação à distância, em centros educacionais
                dos mais variados níveis, os professores e instrutores estão enfrentando
                o desafio de acompanhar o processo de aprendizagem de forma
                mais efetiva em salas de aula com um grande número de alunos. </p>
  
              <p class="lead">
                A proposta para solução desse problema, é a criação de um dashboard
                para os professores realizarem o acompanhamento da sua turma,
                utilizando dados coletados do AVA Moodle e através de
                visualizações desses dados.
              </p>
  
              <p class="lead">
                Através destas visualizações os professores poderão detectar os
                comportamentos dos alunos, facilitando intervenções pedagógicas
                durante o curso a fim de auxiliar da melhor forma o aluno com
                dificuldades de aprendizado.
              </p>
  
              <p class="lead">
                Este projeto faz parte da disciplina Projeto de Desenvolvimento de Software, ministrada e orientada pelo 
                <strong>Prof. Kellyton Brito</strong>, da Universidade Federal Rural de Pernambuco.
              </p>
            </div>
          </div>
  
        </div>
      </div>
  
  
      <div class="row text-center">
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="@routes.Assets.versioned("images/r_logo.png")" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Ainda assim, existem dúvidas a respeito de como a complexidade dos estudos efetuados promove a alavancagem dos níveis de motivação departamental.
                neque.</p>
            </div>
  
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="@routes.Assets.versioned("images/slide4.png")" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">O empenho em analisar o fenômeno da Internet estende o alcance e a importância de todos os recursos funcionais envolvidos.</p>
            </div>
  
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="@routes.Assets.versioned("images/slide5.jpg")" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Por conseguinte, a expansão dos mercados mundiais causa impacto indireto na reavaliação dos paradigmas corporativos.</p>
            </div>
  
          </div>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="@routes.Assets.versioned("images/slide6.jpg")" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Do mesmo modo, a consolidação das estruturas exige a precisão e a definição do remanejamento dos quadros funcionais..</p>
            </div>
  
          </div>
        </div>
  
      </div>
}*@