@(msgEnviadas: List[MensagensEnviadas])(maior: List[MensagensEnviadas])(menor: List[MensagensEnviadas])

@title = {
    Mensagens Enviadas
}

@content = {  
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Mensagens Enviadas</h2>
                            <button class="au-btn au-btn-icon au-btn--blue">
                                <i class="zmdi zmdi-plus"></i>Adicionar Grafico</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="au-card visualization2">
                            <div class="au-card-inner">
                                <h3 class="title-2">Leituras feitas ao Fórum</h3>
                                <div id="mensagens_container" style="min-width: 310px; height: 370px; margin: 0 auto"></div>
                                <div style="margin-top: 30px;" class="table-responsive m-b-40">
                                    <table id="tabela_mensagens" class="table table-borderless table-data3">
                                    	<thead>
                                    		<th scope="col">ID</th>
                                    		<th scope="col">NOME</th>
                                    		<th scope="col">SOBRENOME</th>
                                    		<th scope="col">MENSAGENS ENVIADAS</th>
                                    	</thead>
                                    	<tbody>
                                    		@for(me <- msgEnviadas){
                                    		<tr scope="row">
                                    			<td>@me.getUserid()</td>
                                    			<td>@me.getFirstname()</td>
                                    			<td>@me.getLastname()</td>
                                    			<td>@me.getMsgenviadas()</td>	
                                    		</tr>
                                    		}
                                    	</tbody>
                                	</table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <script src="@routes.Assets.at("javascripts/highcharts.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/exporting.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/series-label.js")"></script>
    <script src="@routes.Assets.at("javascripts/modules/export-data.js")"></script>
    
    <script>
    $(document).ready( function () {
    	$('#tabela_mensagens').DataTable({
    		"sDom": '<"top"f>t<"bottom"ip>',
    		pageLength: 10,
    		paging: false,
    		scrollY: 400
    	});
    } );
    </script>
    
    <script>
    Highcharts.chart('mensagens_container', {
    title: {
        text: 'Quantidade de mensagens enviadas por Aluno dentro do ambiente'
    },

    subtitle: {
        text: ''
    },

    yAxis: {
        title: {
            text: 'Número de Mensagens'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 2010
        }
    },

    series: [{
        name: 'Alunos com mais mensagens enviadas',
        data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
    }, {
        name: 'Alunos com menos mensagens enviadas',
        data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

    });
    </script>
        
}
@dashboard(title)(content)